<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>BLOG</title>
</head>
<body>

    <%- include('./partials/nav', { user: user }) %>
     
  <div class="container mt-3">
  <div class="row g-4">
   <% if (blogs.length === 0) { %>
  <p>No blogs available</p>
<% } %>

<% blogs.forEach(blog => { %>
  <div class="col-md-6">
    <div class="card flex-row shadow-sm" style="height: 180px;">
      <% if (blog.coverImageURL) { %>
        <img src="<%= blog.coverImageURL %>" class="card-img-left" alt="Cover Image"
             style="width: 55%; height: 100%; object-fit: cover;">
      <% } else { %>
        <div class="bg-secondary text-white d-flex align-items-center justify-content-center" 
             style="width: 55%; height: 100%;">
          No Image
        </div>
      <% } %>

      <div class="card-body">
        <h5 class="card-title"><%= blog.title %></h5>
        <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
<% }) %>

  </div>
</div>

    <%- include('./partials/scripts') %>
</body>
</html>